.home-container {
    display: flex;
    height: 100vh;
}

.menu-bar-container {
    flex: 1;
}

.weather-detail-container {
    flex: 3;
    background-color: #f7f8f9;
}

.weather-sidebar-container {
    flex : 1.2;
}

@media only screen and (max-width: 600px) {
    .menu-bar-container {
        display: none;
    }
    .home-container {
        display: flex;
        flex-flow: column;
    }
    .weather-detail-container {
        order: 2;
    }
    .weather-sidebar-container {
        order: 1;
        height: auto;
    }
}

@media only screen and (max-width: 780px) {
    .home-container {
        height: 100vh;
    }
    .menu-bar-container {
        display: none;
    }
    .weather-detail-container {
        flex: 1.5;
    }
    .weather-sidebar-container {
        flex: 1.5;
        height: 100%;
    }
}