.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .date-widget-container {
        margin-bottom: 15px;
        width: 100%;
    }
    .search-widget-container {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .date-widget-container {
        margin-bottom: 15px;
        width: 100%;
    }
    
    .search-widget-container {
        width: 100%;
    }
}